# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


/main/mr-tmp
/main/mrmaster
/main/mrsequential
/main/mrworker
/main/test.go
/raft/debug.txt
